body {
  color: #2a2a2a;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url('../img/mainvisual.jpg');
  background-size: cover;
  position: relative;
}

header h1 {
  /* height: 30px; */
  position: absolute;
  top: 30px;
  right: 30px;
}
